.vscode
.idea
bin
.venv
.pytest_cache
# keep deployment variables out of the repo
/deploy.tf
#  keep terraform state files out of the rep
terraform.*
.terraform
*.zip
/config.json

*/settings.tfvars
/out.json
state.json